body{
	margin: 0;
	padding: 0;
	background: url(..\\images\\loginBackground.png) no-repeat;
	background-size: cover;
	font-family: sans-serif;
}
.loginbox{
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -60%);
	width: 500px;
	padding: 40px;
	background-color: rgb(230,255,230);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgb(0,0,0.5);
	border-radius: 10px;
}
.loginbox h2{
	margin: 0 0 30px;
	padding: 0;
	color: rgb(0,0,230);
	font-size: 40px;
	text-align: center;
}
.loginbox .inputBox{
	position: relative;
}
.loginbox .avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -20%;
	left: calc(50% - 50px);
}
.loginbox .inputBox input{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: black;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	background: transparent;
}
.loginbox .inputBox label{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: black;
	pointer-events: none;
	transition: .5s;
}
.loginbox .inputBox input:valid ~ label{
	top: -18px;
	left: 0;
	color: #03a9f4;
	font-size: 12px;
}
.loginbox input[type="submit"]{
	background:transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding: 10px 30px;
	border-radius: 10px;
}
.loginbox input[type="submit"]:hover {
	background: rgb(0, 238, 0);
}