USE [SE1435-Swe102]
GO
/****** Object:  Table [dbo].[HE141261_Account]    Script Date: 3/22/2021 6:11:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141261_Account](
	[uID] [int] IDENTITY(1,1) NOT NULL,
	[user] [varchar](255) NULL,
	[pass] [varchar](255) NULL,
	[isSell] [int] NULL,
	[isAdmin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[uID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141261_Category]    Script Date: 3/22/2021 6:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141261_Category](
	[cid] [int] NOT NULL,
	[cname] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[cid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141261_Order]    Script Date: 3/22/2021 6:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141261_Order](
	[OrderID] [int] NOT NULL,
	[uID] [int] NULL,
	[phone] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141261_OrderDetail]    Script Date: 3/22/2021 6:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141261_OrderDetail](
	[OrderID] [int] NOT NULL,
	[pID] [int] NOT NULL,
	[UnitPrice] [real] NULL,
	[Quantity] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141261_Product]    Script Date: 3/22/2021 6:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141261_Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[price] [money] NULL,
	[title] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[cateID] [int] NULL,
	[sell_ID] [int] NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HE141261_Voucher]    Script Date: 3/22/2021 6:11:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HE141261_Voucher](
	[captcha] [nvarchar](20) NULL,
	[value] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HE141261_Account] ON 

INSERT [dbo].[HE141261_Account] ([uID], [user], [pass], [isSell], [isAdmin]) VALUES (1, N'Adam', N'123456', 1, 0)
INSERT [dbo].[HE141261_Account] ([uID], [user], [pass], [isSell], [isAdmin]) VALUES (2, N'Anjolie', N'SNZ6HE', 0, 0)
INSERT [dbo].[HE141261_Account] ([uID], [user], [pass], [isSell], [isAdmin]) VALUES (3, N'Ferris', N'RXH3XJ', 0, 0)
SET IDENTITY_INSERT [dbo].[HE141261_Account] OFF
GO
INSERT [dbo].[HE141261_Category] ([cid], [cname]) VALUES (1, N'GIÀY ADIDAS')
INSERT [dbo].[HE141261_Category] ([cid], [cname]) VALUES (2, N'GIÀY NIKE')
INSERT [dbo].[HE141261_Category] ([cid], [cname]) VALUES (3, N'GIÀY BITI''S')
GO
INSERT [dbo].[HE141261_Order] ([OrderID], [uID], [phone]) VALUES (1, 1, 12345)
INSERT [dbo].[HE141261_Order] ([OrderID], [uID], [phone]) VALUES (2, 1, 859094608)
INSERT [dbo].[HE141261_Order] ([OrderID], [uID], [phone]) VALUES (3, -1, 859094608)
GO
INSERT [dbo].[HE141261_OrderDetail] ([OrderID], [pID], [UnitPrice], [Quantity]) VALUES (1, 1, 200, 2)
INSERT [dbo].[HE141261_OrderDetail] ([OrderID], [pID], [UnitPrice], [Quantity]) VALUES (1, 1, 160, 4)
INSERT [dbo].[HE141261_OrderDetail] ([OrderID], [pID], [UnitPrice], [Quantity]) VALUES (2, 1, 150, 1)
GO
SET IDENTITY_INSERT [dbo].[HE141261_Product] ON 

INSERT [dbo].[HE141261_Product] ([id], [name], [image], [price], [title], [description], [cateID], [sell_ID]) VALUES (2, N'NMD_R1', N'https://assets.adidas.com/images/w_600,f_auto,q_auto/4ee1912f0df44727863fac4400f5084c_9366/NMD_R1_Shoes_Grey_FY5730.jpg', 120.0000, N'NMD SHOES WITH CLASSIC STYLE', N'Let the past be your guide to the future. Lead the charge once you get there. These NMD_R1 Shoes pay tribute to adidas'' rich history of running innovation, and take inspiration from the original NMD that first graced the streets.', 1, 6)
SET IDENTITY_INSERT [dbo].[HE141261_Product] OFF
GO
INSERT [dbo].[HE141261_Voucher] ([captcha], [value]) VALUES (N'SALE10', 10)
INSERT [dbo].[HE141261_Voucher] ([captcha], [value]) VALUES (N'SALE20', 20)
INSERT [dbo].[HE141261_Voucher] ([captcha], [value]) VALUES (N'SALE50', 50)
GO
ALTER TABLE [dbo].[HE141261_OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_HE141283_ChauDM_OrderDetail_HE141283_ChauDM_Product] FOREIGN KEY([pID])
REFERENCES [dbo].[HE141261_Product] ([id])
GO
ALTER TABLE [dbo].[HE141261_OrderDetail] CHECK CONSTRAINT [FK_HE141283_ChauDM_OrderDetail_HE141283_ChauDM_Product]
GO
ALTER TABLE [dbo].[HE141261_Product]  WITH CHECK ADD  CONSTRAINT [FK_HE141283_ChauDM_Product_HE141283_ChauDM_Category] FOREIGN KEY([cateID])
REFERENCES [dbo].[HE141261_Category] ([cid])
GO
ALTER TABLE [dbo].[HE141261_Product] CHECK CONSTRAINT [FK_HE141283_ChauDM_Product_HE141283_ChauDM_Category]
GO
